html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    font-weight: 300;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
    position: relative;
}

#footer {
    height: 80px;
    position: relative;
}

    #footer-content {
        background: #f6f7f8;
        height: 80px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
        padding: 0 40px;
        color: #80848B;
        font-size: 12px;
        line-height: 80px;
        text-align: right;
    }

.push {
    height: 80px;
    clear: both;
}

#header {
    background-image: url('../header2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 20px 40px;
    height: 108px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
}

    #header-content {
        font-size: 3em;
        font-weight: 100;
        color:#fff;
    }

    #header-content-right {
        float: right;
    }

        #header-content-right a {
            color: #fff;
        }

            #header-content-right a:hover {
                text-decoration: none;
            }

        #header-content-right i {
            font-size: 40px;
            vertical-align: middle;
            position:relative;
            top: -2px;
            line-height: 74px;
            padding-left:10px;
        }

#content {
    height: 100%;
    padding: 40px;
}

#sidebar {
    border-left: 1px solid #cbd3dd;
    width: 315px;
    position: absolute;
    right: 0;
    top: 108px;
    bottom: 80px;
    overflow-y:scroll;
    overflow-x:hidden;
    padding-right: 15px;

}

    #sidebar::-webkit-scrollbar {
        display: none;
    }

    #sidebar ul {
        margin: 0;
        padding: 0;
    }

        #sidebar li {
            text-indent: 40px;
            line-height: 32px;
            height: 32px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

            #sidebar li a {
                text-decoration: none;
                color: #3d3c3a;
            }

#main {
    margin-right: 355px
}

    #main h2 {
        font-size: 3em;
        font-weight: 300;
        margin: 0 0 .5em;
    }

    #main p em {
        font-size: 1.375em;
        font-weight: 300;
        font-style: normal;
        line-height: 1.5;
        color: #808488;
        margin: 0 0 1em;
        display: block;
    }

    #main ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }

    #main li {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #cbd3dd;
    }

    #main a {
        display: inline-block;
        font-size: 20px;
    }
