html {
    overflow-y: scroll;
}

html, body {
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
    font-weight: 300;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
    position: relative;
}

#footer {
    height: 80px;
    position: relative;
}

    #footer-content {
        background: #f6f7f8;
        height: 80px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
        padding: 0 40px;
        color: #80848B;
        font-size: 12px;
        line-height: 80px;
        text-align: right;
    }

.push {
    height: 80px;
    clear: both;
}

#header {
    background-image: url('../header2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 20px 40px;
    height: 108px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
}

    #header-content {
        font-size: 3em;
        font-weight: 100;
        color:#fff;
    }

    #header-content-right {
        float: right;
        color: #fff;
    }

        #header-content-right a {
            color: #fff;
        }

            #header-content-right a:hover {
                text-decoration: none;
            }

        #header-content-right i {
            font-size: 40px;
            vertical-align: middle;
            position:relative;
            top: -2px;
            line-height: 74px;
            padding-left:10px;
        }

#content {
    height: 100%;
    padding: 40px;
}

#sidebar {
    border-left: 1px solid #cbd3dd;
    width: 315px;
    position: absolute;
    right: 0;
    top: 108px;
    bottom: 80px;
    overflow-y:scroll;
    overflow-x:hidden;
    padding-right: 15px;

}

    #sidebar::-webkit-scrollbar {
        display: none;
    }

    #sidebar ul {
        margin: 0;
        padding: 40px 0;
    }

        #sidebar li {
            text-indent: 40px;
            line-height: 32px;
            height: 32px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

            #sidebar li a {
                text-decoration: none;
                color: #3d3c3a;
            }

            #sidebar li a.active {
                font-weight: 700;
            }

#main {
    margin-right: 355px;
    position: relative;
}

    #main h2 {
        font-size: 3em;
        font-weight: 300;
        margin: 0 0 .5em;
    }

    #main p em {
        font-size: 1.375em;
        font-weight: 300;
        font-style: normal;
        line-height: 1.5;
        color: #808488;
        margin: 0 0 1em;
        display: block;
    }

    #main ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }

    #main li {
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #cbd3dd;
    }

    #main a {
        display: inline-block;
        font-size: 20px;
    }


@media (max-width: 767px) {
    #header {
        height: auto;
    }

    #header-content {
        font-size: 1.5em;
        font-weight:500;
    }

    #header-content-right {
        display: none;
    }

    #sidebar {
        display: none;
        border-left: none;
        width: 100%;
        background: #fff;
    }

        #sidebar ul {
            padding: 0;
        }

    #main {
        margin-right: 0;
    }

    /* mobile burger menu */
    .menu {
        cursor: pointer;
        margin: 0 auto;
        padding-left: 1.25em;
        position: relative;
        width: 26px;
        height: 25px;
        margin-top: 2px;
    }

    .menu-global {
        backface-visibility: hidden;
        position: absolute;
        left: 0;
        border-top: 4px solid white;
        width: 100%;
        transition: 0.55s;
    }

    .menu-top {
        top: 0;
    }

    .menu-middle {
        top: 9px;
    }

    .menu-bottom {
        top: 18px;
    }

    .menu-top-click {
        backface-visibility: hidden;
        top: 8px;
        transform: rotate(45deg);
        transition: 0.55s 0.5s;
    }

    .menu-middle-click {
        opacity: 0;
    }

    .menu-bottom-click {
        backface-visibility: hidden;
        top: 8px;
        transform: rotate(-405deg);
        transition: 0.55s 0.5s;
    }
}